.aXenServerList > span {
  margin-right: auto;
}

{{if settings.aXenServerList_settings_scroll}}
.aXenServerList_scroll + .aXenServerList_ul {
  max-height: {setting='aXenServerList_settings_scroll_height'}px;
  overflow-y: auto;
}
{{endif}}

{{if settings.aXenServerList_settings_scroll_mobile}}
@media screen and (max-width: 979px) {
  .aXenServerList_ul {
    max-height: {setting='aXenServerList_settings_scroll_mobile_value'}px;
    overflow-y: auto;
  }
}
{{endif}}

.aXenServerList_hide {
  opacity: 0.5;
}

.aXenServerList_hide + .aXenServerList_ul,
.aXenServerList_hide ~ .ipsList_reset.ipsFlex {
  display: none;
}

.aXenServerList_hide > .aXenServerList_toggle_hide {
  transform: rotate(90deg);
}

.aXenServerList_toggle {
  font-size: 18px;
  opacity: 0.2;
  width: 20px;
  height: 20px;
  color: rgb(var(--theme-section_title_font));
}

.aXenServerList_toggle:hover {
  opacity: 1;
  color: inherit;
}

.aXenServerList_toggle:after {
  font-family: 'FontAwesome';
  font-size: 18px;
}

.aXenServerList_toggle_hide:after {
  content: '\f078';
}

.aXenServerList_toggle_scroll:after {
  content: '\f065';
}

.aXenServerList_scroll > .aXenServerList_toggle_scroll:after {
  content: '\f066';
}

.aXenServerList_toggle_fullWidth:after {
  content: '\f00b';
}

.aXenServerList_fullWidth .aXenServerList_toggle_fullWidth:after {
  content: '\f009';
}

.aXenServerList_ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ========== Item ========== */
.aXenServerList_item {
  display: flex;
  align-items: center;
  line-height: 1;
  flex-wrap: wrap;
}

.aXenServerList_item_title {
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex: 0 1 250px;
}

.aXenServerList_item_title\:status {
  display: block;
  width: 8px;
  height: 20px;
  background-color: var(--negative-dark);
  border-radius: 5px;
}

.aXenServerList_item_title\:status-online {
  background-color: var(--positive-dark);
}

.aXenServerList_item_title\:img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.aXenServerList_item_title\:name {
  margin-left: 10px;
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.aXenServerList_item_title\:name > .ipsBadge,
.aXenServerList_item_title\:name > i.fa-trophy {
  margin-right: 5px;
}

.aXenServerList_item_title\:name > i.fa-trophy {
  color: var(--intermediate-dark);
}

.aXenServerList_item\:ip {
  display: flex;
  align-items: center;
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 0 200px;
}

.aXenServerList_item\:ip > .ipsButton {
  margin-right: 5px;
}

.aXenServerList_item_owners {
  flex: 1;
  text-align: center;
}

.aXenServerList_item_owners_ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aXenServerList_item_owners_ul > li {
  white-space: nowrap;
}

.aXenServerList_item_owners_ul > li:not(:last-child) {
  margin-right: 5px;
}

/* ========== Players ========== */
.aXenServerList_item_players {
  display: flex;
  align-items: center;
  margin: 5px 0;
  flex: 0 0 125px;
}

.aXenServerList_item_players > span {
  margin-left: 10px;
}

.aXenServerList_item_players_svg {
  width: 35px;
  height: 35px;
}

.aXenServerList_item_players_svg\:none {
  stroke: rgb(var(--theme-area_background_light));
  fill-opacity: 0;
  stroke-width: 4;
}

.aXenServerList_item_players_svg\:fill {
  stroke: rgb(var(--theme-link_hover));
  fill-opacity: 0;
  stroke-width: 4;
  stroke-dasharray: 97.6754, 97.6754;
}

{{if settings.aXenServerList_settings_colors}}
.aXenServerList_item_players_svg\:fill_1_20 {
  stroke: {setting='aXenServerList_settings_colors_1_20'};
}

.aXenServerList_item_players_svg\:fill_21_40 {
  stroke: {setting='aXenServerList_settings_colors_21_40'};
}

.aXenServerList_item_players_svg\:fill_41_60 {
  stroke: {setting='aXenServerList_settings_colors_41_60'};
}

.aXenServerList_item_players_svg\:fill_61_80 {
  stroke: {setting='aXenServerList_settings_colors_61_80'};
}

.aXenServerList_item_players_svg\:fill_81_100 {
  stroke: {setting='aXenServerList_settings_colors_81_100'};
}
{{endif}}

/* ========== More ========== */
.aXenServerList_item_more {
  margin: 0 10px 0 auto;
  padding: 5px;
  flex: 0 0 200px;
}

.aXenServerList_item_more_menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.aXenServerList_item_more_menu > ul {
  flex: 0 0 calc(50% - 10px);
}

.aXenServerList_item_more_info > li {
  display: flex;
  justify-content: space-between;
}

.aXenServerList_item_more_info > li:not(:last-child) {
  margin-bottom: 10px;
}

.aXenServerList_item_more_info > li > span:last-child {
  margin-left: 10px;
  min-width: 25%;
  max-width: 50%;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aXenServerList_item_more_menu .aXenServerList_item_more_info {
  padding: 0;
  margin: 0;
  list-style: none;
}

.aXenServerList_item_more_menu_links {
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
  display: none;
  flex-wrap: wrap;
}

.aXenServerList_item_more_menu_links > li {
  flex: 1 1 50%;
  padding: 5px;
}

.aXenServerList_item_more_info\:fullWidth {
  flex: 1;
}

.aXenServerList_item_more_ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.aXenServerList_item_more_ul > li:not(:last-child) {
  margin-right: 5px;
}

/* ========== Buttons ========== */
.ipsApp .aXenServerListButton {
  font-size: 16px;
  padding: 6px 8px;
}

/* ========== ipsMenu ========== */
.aXenServerListMenu {
  width: 350px;
}

/* ========== Full width ========== */
{{if settings.aXenServerList_settings_fullWidth}}
.aXenServerList_fullWidth + .aXenServerList_ul {
  display: flex;
  flex-wrap: wrap;
}

.aXenServerList_fullWidth + .aXenServerList_ul > li {
  flex: 1 1 50%
}

.aXenServerList_fullWidth + .aXenServerList_ul > li .aXenServerList_item_owners,
.aXenServerList_fullWidth + .aXenServerList_ul > li .aXenServerList_item_more .aXenServerList_item_more_ul_buttons {
  display: none;
}

.aXenServerList_fullWidth + .aXenServerList_ul > li .aXenServerList_item_title {
  flex: 1;
}

.aXenServerList_fullWidth + .aXenServerList_ul > li .aXenServerList_item_more {
  flex: 0;
}

.aXenServerListMenu_fullWidth .aXenServerList_item_more_menu_links  {
  display: flex;
}
{{endif}}

/* ========== RWD ========== */
@media screen and (max-width: 979px) {
  .aXenServerList_ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .aXenServerList_item {
    flex-wrap: wrap;
    justify-content: center;
  }

  .aXenServerList_item_title,
  .aXenServerList_item\:ip,
  .aXenServerList_item_players {
    justify-content: center;
  }

  .aXenServerList_item\:ip,
  .aXenServerList_item_players {
    flex: 0 0 50%;
    margin: 0;
    height: 40px;
  }

  .aXenServerList_item_title,
  .aXenServerList_item_owners {
    flex: 0 0 100%;
    height: 30px;
  }

  .aXenServerList_item_more {
    margin: 0;
  }
}
